body {
    font-family: 'Roboto';
    margin: 0;
    /* padding: 0 25px 0 25px; */
}

.body .header, .body .info, .body .quote, body .footer, .body .action-item {
    padding-left: clamp(100px, 20vw, 400px);
    padding-right: clamp(100px, 20vw, 400px);
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-logo-text {
    font-size: 18px;
}

.hero-color {
    color: #F9FAF8;
}

.hero-logo-text {
    font-size: 24px;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo-and-link, .awesome-website-part {
    display: flex;
    justify-content: space-between;
}

.sign-up-button {
    color: white;
    background-color: rgb(51, 112, 245);
    border-radius: 8px;
    border: 0;
    padding: 5px 25px;
    font-weight: bold;
    margin-top: 5px;
}

.awesome-website-part div {
    flex: 1;
}

.info-img-container {
    width: 90%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px  solid rgb(51, 112, 245);
    border-radius: 8px;
}



.img-container {
    background-color: gray;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image, .info-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.img-container img:not([src]), .img-container img[src=""], .info-img-container img[src=""]   {
    display: none;
}

.awesome-website-part {
    padding: 50px 0 100px 0;
    display: flex;
    gap: 15%;
}

.zero-padding {
    padding-left: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 50px 0;
    color: rgb(73, 70, 70);
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 16px;
}

.info-info {
    display: flex;
    gap: 10px;
}

.info-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding: 120px 0 100px 0;
}

.quote-signature {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    color: #1F2937;
}

.quote-body {
    font-style: italic;
    font-size: 36px;
    color: rgb(51, 49, 49);
}

.action-item-box {
    background-color:  rgb(51, 112, 245);
    display: flex;
    align-items: center;
    color: white;
    border-radius: 8px;
    justify-content: space-between;
    padding: 25px; 
    margin: 75px 0 75px 0;
}

.action-item-box .sign-up-button {
    border: 3px solid white;
    font-weight: bold;
}

.call-to-action {
    font-weight: bold;
    font-size: 20px;
}